[submodule "UITestServer/UITestServer/ThirdParty/swifter"]
	path = UITestServer/UITestServer/ThirdParty/swifter
	url = https://github.com/zmeyc/swifter.git
[submodule "UITestUtils/UITestUtils/ThirdParty/SimulatorStatusMagic"]
	path = UITestUtils/UITestUtils/ThirdParty/SimulatorStatusMagic
	url = https://github.com/zmeyc/SimulatorStatusMagic.git
